Django>=4.2,<4.3
gunicorn>=23,<24
whitenoise>=6,<7
django-autocomplete-light>=3.11,<4
channels>=4,<5
channels-redis>=4,<5
daphne>=4,<5
django-extensions>=3,<4
djangorestframework>=3.15,<4
django-cleanup>=9,<10
django-cors-headers>=4,<5
django-filter>=24,<25
xlwt>=1,<2
django-simple-history>=3,<4
django-soft-delete>=1,<2
twilio>=9,<10
openpyxl>=3.0,<3.1
Pillow>=10,<11
six>=1,<2
python-barcode>=0.15,<1
